{% extends "layout/html" %}
{% block content %}
    <div class="container section">
    <h4 class="title">Службы взаимодействия</h4>
    <table class="table is-striped is-narrow is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th>Служба</th>
            {#<th>Подразделение</th>#}
            {#<th>Адрес возгорания</th>#}
            {#<th>Дата и время</th>#}
            {#<th>&nbsp;</th>#}
        </tr>
        </thead>
        <tbody>
        {% for slug, service in services %}
            <tr>
                <td><a class="is-link is-block has-text-link" style="text-decoration: underline" href="/service-plans/{{ service.id }}">{{ service.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td class="has-text-centered"><h4 class="subtitle">Нет служб взаимодействия</h4></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#{% include "_templates/pagination" with {'items': trips, 'per_page': per_page} %}#}
    </div>
{% endblock content %}
