{% extends "layout/html" %}
{% block content %}
    <div class="container" id="vue">
        <report-call-infos
                :reports="{{ reports }}"
        >
        </report-call-infos>
    </div>
{% endblock content %}
