<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="EDDS1">
    <META NAME="CREATED" CONTENT="20171129;23900000000000">
    <META NAME="CHANGEDBY" CONTENT="Yeldar Zhunussov">
    <META NAME="CHANGED" CONTENT="20181020;100500000000000">
    <META NAME="AppVersion" CONTENT="16.0000">
    <META NAME="DocSecurity" CONTENT="0">
    <META NAME="HyperlinksChanged" CONTENT="false">
    <META NAME="LinksUpToDate" CONTENT="false">
    <META NAME="ScaleCrop" CONTENT="false">
    <META NAME="ShareDoc" CONTENT="false">
    <STYLE TYPE="text/css">
        <!--
        @page { margin-left: 1.18in; margin-right: 0.59in; margin-top: 0.1in; margin-bottom: 0.2in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
        A:link { color: #0000ff; so-language: zxx }
        -->
    </STYLE>
</HEAD>
<BODY LANG="ru-RU" LINK="#0000ff" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=RIGHT STYLE="margin-left: 3.5in; margin-bottom: 0in; line-height: 100%">


</P>
<P ALIGN=RIGHT STYLE="margin-left: 3.5in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P ALIGN=RIGHT STYLE="margin-left: 3.5in; margin-bottom: 0in; line-height: 100%">
    <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>И.
                    о. н</B></FONT></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>ачальника
                ДЧС г. Алматы</B></FONT></FONT></P>
<P ALIGN=RIGHT STYLE="margin-left: 3.5in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>КЧС
                МВД РК</B></FONT></FONT></P>
<P ALIGN=RIGHT STYLE="margin-left: 3.5in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>полковнику
                Алибекову Е. А.   </B></FONT></FONT>
</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">


</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=CENTER STYLE="margin-left: -0.39in; margin-bottom: 0in; line-height: 100%">
    <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Оперативная
                    информация</B></FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-left: -0.39in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Управления
                    единой дежурно-диспетчерской службы
                    ДЧС г. Алматы</B></FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-left: -0.39in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>об
                    основных чрезвычайных происшествиях,
                    произошедших в период</B></FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-left: -0.39in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>с
                    07 час.00 мин. 19.10.2018 г. по 07 час. 00 мин.
                    20.10.2018 г.</B></FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-left: -0.39in; margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>	Городская
                подсистема государственной системы
                гражданской защиты   функционирует в
                режиме повседневной деятельности:</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>ЧС
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,
                пожары</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,
                погиб – 0, спасено – 0, эвакуировано –
                0,  отравление природным/ угарным  газом</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>0,
                пострадавший</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<OL>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Системы
                                    связи и оповещения:</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                                в исправном состоянии и в рабочем
                                режиме.</FONT></FONT></FONT></FONT></FONT></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>2.
                            Мониторинг окружающей среды и происшествий
                            природного характера:</B></FONT></FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT COLOR="#000000"> <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>-
                            ГУ « СОМЭ КН МОН РК»: </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                    </FONT></FONT></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT COLOR="#000000"> <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>-
                            РГП «Казгидромет»: </B></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>прогноз
                        погоды на 16 октября - облачно, временами
                        осадки. Ветер 3-8 м/с. Температура ночью
                        1-3, днем 4-6 тепла.</FONT></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                </FONT></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>-
                    АГЭУ ГУ «Казселезащита</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
                не зарегистрировано</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>3.
                    Системы жизнеобеспечения города: </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="kk-KZ">не
зарегистрировано</SPAN></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>4.
                    Подтопления: </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="kk-KZ">не
зарегистрированы</SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>5.
                            ЦМК:</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                    </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>1
                        выезд по филиалу на пожар.</FONT></FONT></FONT></FONT></FONT></P>
<P STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>6.
                            РОСО</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>
                        </I></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>без
                        выездов. </FONT></FONT></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>7.
                    По основной  деятельности «112</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>»:
            </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>14-50
                Алмалинский р-н, ул. Карасай батыра около
                д. 232 - упала ветка дерева на припаркованную
                автомашину марки Nissan Qashqai 2016 г.в., гос.
                номер 929 WXA/02. В результате падения ветки,
                образовалась трещина на панорамной
                крыше автомашины. Материал зарегистрирован
                в КУИ № 3136 от 15.10.2018 г.</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>
                </I></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>В
                тестовом режиме отправлялось сообщение
                по мобильному приложению «</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">Serbiso</SPAN></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>»:
            </FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>1)
                Прогноз погоды на 19 октября, отправка
                в 07-00, сообщение  доставлено в 07-02.</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>8.
                    ГУ «СП и АСР»</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>:
                всего выездов – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                из них: пожары - 0, сухостой - 0,  мусор –
                0, КЗ</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,
                бдительность населения</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,
                отравление природным/ угарным газом</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="kk-KZ">0</SPAN></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,
                погибло</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>0,
                спасен</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>0,
                эвакуировано</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>,
                пострадавший</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – 0</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>.</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>
                </B></FONT></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in"><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>9.
                </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>ЕДДС:
                </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Всего
                    поступивших  звонков на</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                «</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>112</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>»
                - </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>2983,
                «</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>101</B></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>»
                - 164, «</FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>109</B></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>»
                - 384.</FONT></FONT></FONT><FONT COLOR="#000000"><FONT SIZE=3>      </FONT></FONT><FONT COLOR="#000000"><FONT SIZE=3><B>
            </B></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>
                </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>10.
                    Казавиаспас: </B></FONT></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>в
            аэропорту Боролдай</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>
            </B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>в
            режиме дежурства: </FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Еврокоптер145
                UP-ЕС018, </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>«ССА»
                - </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>МИ-8
                АМТ, МИ-8 МТВ.</FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-right: -0.08in; text-indent: -0.27in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>	</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>11</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>.</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
            </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Отработано
                    всего&nbsp; выездов&nbsp; Службой Спасения
                    г. Алматы</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                – </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>50,
                из них:                                                     </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>-</I></FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                Аварийно – спасательный отряд </FONT></FONT></FONT><FONT COLOR="#ff0000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>–
                8, с угрозой для жизни людей – 1, без
                угрозы для жизни людей – 7.</FONT></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
        </FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>12</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>.
                    </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Данные
                            по СРУ:</B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                        всего – 591: С-40 </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><I>(моторные</I></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>)
                        – 244, СРУ-347:  из них  в нерабочем – 2:</FONT></FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>1.
                        Наурызбайский район, санаторий Алатау
                        (демонтировано);</FONT></FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>2.
                        Алмалинский  район, ОШ-91, ул. Докучаева,
                        31 «А» (демонтировано);</FONT></FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Calibri, serif"><FONT SIZE=2><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>13.
                        </B></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Мониторинг
                        интернет пространства – негативная
                        информация не зарегистрирована.</FONT></FONT></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-left: -0.79in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P STYLE="margin-left: -0.59in; margin-bottom: 0in; line-height: 100%">
    <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>ОД </B></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>ДЧС
                    г. Алматы


                    старшина  г/з
                    Сейсенов Ж.О.</B></FONT></FONT></FONT></P>
<P STYLE="margin-left: -0.59in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P ALIGN=CENTER STYLE="margin-left: -0.3in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P ALIGN=CENTER STYLE="margin-left: -0.3in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P LANG="kk-KZ" ALIGN=CENTER STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
<P LANG="kk-KZ" ALIGN=CENTER STYLE="margin-left: -0.3in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
<P ALIGN=CENTER STYLE="margin-left: -0.3in; margin-bottom: 0in; line-height: 100%">
    <BR>
</P>
</BODY>
</HTML>