<tr class="total">
    <td style="padding: 5px">
        Итого
    </td>
    {% for row in fields %}
        <td>
            <input readonly autocomplete="off" type="text" min=0 oninput="validity.valid||(value='');" data-total="{{ row }}" value="{{ item.attribute(row) }}"
                   name="items[{{ item.id }}][{{ row }}]">
        </td>
    {% endfor %}
</tr>
