{% extends "layout/html" %}
{% block content %}
    {% include 'layout/yandex-maps-bus' %}

    <div class="">
        <h4 class="title"
            style="padding: 3px 15px; color: #fff">Редактирование границ микроучастков
        </h4>
    </div>
    <div class="panel">
        <div id="edit-polygons-map-screen-block">
        </div>
    </div>

    <script src="{{ mix('assets/app.js') }}"></script>
    <script>
        window.initPolygonsMapScreenBlock();
    </script>
{% endblock content %}
