{% extends "layout/html" %}
{% block content %}
    <div class="container">
        <div class="panel">
            <h4 style="" class="title">Справочники</h4>
            <table class="table is-narrow is-hoverable is-selectable">
                <thead>
                <tr>
                    <th>Справочник</th>
                    <th></th>
                </tr>
                </thead>
                {% for dict in dictionaries %}
                    <tr>
                        <td><i class="fas fa-list-ol">
                            </i>&nbsp;{{ dict.title }}</td>
                        <td><a class="button is-outlined is-small" href="{{ url('dictionaries/list/' ~ dict.id) }}">
                                <i class="fas fa-edit"></i>&nbsp;Редактировать</a></td>
                    </tr>
                {% else %}
                    <li><h3 class="is-danger">Нет справочников</h3></li>
                {% endfor %}
                <tr>
                    <td><i class="fas fa-list-ol">
                        </i>&nbsp; Типы инцидентов</td>
                    <td><a class="button is-outlined is-small" href="/dictionaries/incident-types">
                            <i class="fas fa-edit"></i>&nbsp;Редактировать</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}