{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <h4 style="" class="title">Справочники</h4>

            <table class="table is-narrow is-striped is-hoverable is-selectable">
                <thead>
                <tr>
                    <th>Справочник</th>
                    <th></th>
                </tr>
                </thead>
                {% for dict in dictionaries %}
                    <tr>
                        <td><i class="fas fa-list-ol">
                            </i>&nbsp;{{ dict.title }}</td>
                        <td><a class="button is-basic is-small" href="{{ url('dictionaries/list/' ~ dict.id) }}">
                                <i class="fas fa-edit"></i>&nbsp;Редактировать</a></td>
                    </tr>
                {% endfor %}

                {#доп. справочники, для которых нужны связи, плюшки и кастомные вьюшки#}
                {% for dict in additional_dicts %}
                    <tr>
                        <td><i class="fas fa-list-ol">
                            </i>&nbsp; {{ dict.title }}</td>
                        <td><a class="button is-basic is-small" href="{{ dict.href }}">
                                <i class="fas fa-edit"></i>&nbsp;Редактировать</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
