{% extends "layout/html" %}
{% block content %}
    <div class="container" id="vue">
        <report-emergency-type-period
            :records="{{ records }}"
            :incident-types="{{ incidentTypes }}"
        >
        </report-emergency-type-period>

    </div>
{% endblock content %}
