{% extends "layout/html" %}
{% block content %}
    <div id="vue" class="container section">
        <report101-vehicles :vehicles="{{ vehicles }}" ></report101-vehicles>
    </div>
{% endblock content %}
