{% extends "layout/html" %}
{% block content %}
    <div class="columns is-gapless">
        <div class="column">
            <div class="tabs">
                <ul class="">
                    <li class="is-active"><a href="">Открытые</a></li>
                    <li><a href="">Закрытые</a></li>
                    <li><a href="">Все карточки</a></li>
                </ul>
            </div>
        </div>
        <div class="column is-narrow">
            <div style="border-bottom: 1px solid #dbdbdb">
            <a href="" class="button is-success is-outlined" style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Новая карточка</a>
            </div>
        </div>
    </div>
    <div class="panel">

    </div>
{% endblock content %}