{% extends "layout/html" %}
{% block content %}
    <div class="section container">
        <h4 class="title">Карточка 101</h4>
        <form action="" method="post">
            {{ csrf_field() }}
            <div id="vue">
                <drill-rides
                        :ride-types="{{ ride_types }}"
                        :fire-departments="{{ fire_departments_vue }}"
                        :staff="{{ staff }}"
                ></drill-rides>
            </div>
            <br>
            <button type="submit" class="button is-success">Сохранить</button>
        </form>
    </div>
{% endblock content %}
