{% extends "layout/html" %}

{% block content %}

    <div id="vue">
        <mudflow-protection-form
            :model="{{ model }}"
            form-route="{{ formRoute }}"
            :gauging-station="{{ gaugingStation }}"
        >
        </mudflow-protection-form>
    </div>

{% endblock content %}