{% extends "layout/html" %}
{% block content %}
    <div class="container">
        <form action="" method="post">
            {{ csrf_field() }}
            <div class="modal is-active" role="document">
                <div class=" form-modal-border">
                    <div class="form-modal-header has-background-danger has-text-white">
                        <h5 class="subtitle">Подмена пользователя</h5>
                    </div>
                    <div class="form-modal-body page-body">
                        <div class="media">
                        <i class="fa fa-4x fa-user-secret d-flex mr-3"></i>
                        <p class="media-body">Уверены, что хотите войти под видом пользователя {{ user.name }}?</p>
                        </div>
                    </div>
                    <div class="modal-footer has-text-right form-buttons-bg">
                        <a href="{{ url('admin/users') }}" class="button is-light">Отмена</a>
                        <button type="submit" class="button is-danger"><i class="fa fa-key"></i>&nbsp;Войти как пользователь</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
