{% extends "layout/html" %}
{% block content %}
    <div id="vue">
        <section>
            <b-tabs position="is-centered" class="block">
                <b-tab-item label="Сведения о чрезвычайных ситуациях">
                    <main-report
                        :calls-infos="{{ call_infos|json_encode }}"
                        :cards-infos="{{ card_infos|json_encode }}"
                        :services-infos="{{ services_infos|json_encode }}"
                        :rivers="{{ rivers }}"
                    ></main-report>
                </b-tab-item>
                <b-tab-item label="Статус">
                    <report-forces></report-forces>
                </b-tab-item>
            </b-tabs>
        </section>
    </div>
{% endblock content %}