/*
.tabs {
    font-size: 1.2rem !important;
}

.panel {
    font-size: 1.2rem !important;
}

.dropdown-item, .dropdown .dropdown-menu .has-link a {
    font-size: 1.0rem !important;
}

.control {
    font-size: 1.2rem !important;
}

body {
    color: #4a4a4a;
    font-size: 1.2rem !important;
}*/
