{% extends "layout/html" %}
{% block content %}
    <div class="container">
        <div class="panel">
            <h4 style="" class="title">Пожарные части (расписание выездов подразделений)</h4>
            <table class="table is-narrow is-hoverable is-selectable">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Район</th>
                    <th></th>
                </tr>
                </thead>
                {% for item in items %}
                    <tr>
                        <td><i class="fas fa-list-ol">
                            </i>&nbsp;{{ item.title }}</td>
                        <td>{{ item.city_area.name ?? null }}</td>
                        <td><a class="button is-outlined is-small" href="{{ route('schedules.edit', item.id) }}">
                                <i class="fas fa-edit"></i>&nbsp;Редактировать</a></td>
                    </tr>
                {% else %}
                    <li><h3 class="is-danger">Нет справочников</h3></li>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}