{% extends "layout/html" %}
{% block content %}
    <div class="">
        <h4 class="title"
            style="padding: 3px 15px">ГУ "Казселезащита"
        </h4>
    </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>Наименование озера и абс.высота</th>
                <th>Первоначальный объём воды, (тыс.куб.м)</th>
                <th>Текущий объём воды, (тыс.куб.м)</th>
                <th>Приток воды с ледника, (л/с)</th>
                <th>Отвод воды через эвак. канал</th>
                <th>Отвод воды через насосы, (л/сек)</th>
                <th>Отвод воды через Сифоны, л/с)</th>
                <th>Всего сброшено воды,(тыс.куб.м) за сутки</th>
                <th>Всего сброшено воды,(тыс.куб.м) с начала работы</th>
                <th>Понижение от первоначального уровня, (м).</th>
                <th>t&deg; воды</th>
                <th>t&deg; воздуха</th>
                <th>Нулевая изотерма</th>
                <th></th>
            </tr>
            </thead>
                <tr>
                    <td></td>
                </tr>
        </table>
    </div>
{% endblock content %}