{% extends "layout/html" %}
{% block content %}
    <div class="section container">
    <div class="">
        <h4 class="title"
            style="padding: 3px 15px">Информация
        </h4>
    </div>
    <div class="columns is-gapless">
        <div style="width: 100%; border-bottom: 1px solid #dbdbdb;">
        </div>
        <div class="column is-narrow">
            <div style="border-bottom: 1px solid #dbdbdb">
                {#<a href="{{ route('information.create') }}" class="button is-success is-outlined"#}
                   {#style="margin: 2px 10px 2px">#}
                    {#<i class="fas fa-plus"></i>&nbsp;Добавить#}
                {#</a>#}
            </div>
        </div>
    </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>Наименование организации</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
                <tr>
                    <td class="has-text-right">1</td>
                    <td>
                        <p>ГУ Казселезащита</p>
                    </td>
                    <td class="has-text-right">
                        {#<a class="button is-info is-small" href="/morainic-lakes">Моренные озера</a>#}
                        <a class="button is-info is-small" href="/morainic-lakes-summaries">Моренные озера</a>
                        <a class="button is-info is-small" href="/mudflowProtection">Гидрометеорологические данные</a>
                    </td>
                </tr>
                <tr>
                    <td class="has-text-right">2</td>
                    <td>
                        <p>РГП Казгидромет</p>
                    </td>
                    <td class="has-text-right">
                        <a class="button is-info is-small" href="/weather">Гидрометеорологический бюллетень</a>
                    </td>
                </tr>
                <tr>
                    <td class="has-text-right">3</td>
                    <td>
                        <p>ТОО СОМЭ</p>
                    </td>
                    <td class="has-text-right">
                        <a class="button is-info is-small" href="/quakes">Просмотр</a>
                    </td>
                </tr>
        </table>
    </div>
    </div>
{% endblock content %}
