<thead class="view-101-table-header">
<tr>
    {# Первая таблица по форме #}
    <th rowspan="3" class="rotated"><div>Наименование пожарных подразделений</div></th>
    <th rowspan="3" class="rotated"><div>В карауле по списку л/с</div></th>
    <th colspan="6">На лицо личного состава</th>
    <th colspan="6">Отсутствуют</th>
    <th colspan="2" class=""><div>ГДЗС</div></th>
    <th rowspan="3" class="rotated"><div>Аппараты</div></th>
    <th colspan="2">Мотопомпы</th>
    <th colspan="6">Пожарная техника</th>


    {# Вторая таблица по форме #}
    <th colspan="18">Имеется на автомобилях в боевом расчете</th>
    <th rowspan="3" class="rotated"><div>Пенообразователя на складе</div></th>
    <th colspan="3">Количество неисправных водоисточников</th>
    <th colspan="2">В боевом расчете</th>
    <th colspan="2">В резерве</th>
    <th rowspan="3" class="rotated"><div>Генератор</div></th>
    <th rowspan="3" class="rotated"><div>Дымосос</div></th>
    <th rowspan="3" class="rotated"><div>Гирсы</div></th>
    <th rowspan="3" class="rotated"><div>ИУП</div></th>
    <th rowspan="3">Ф.И.О<br>Начальника караула или лица его подменяющего</th>
</tr>

<tr>
    {# Первая таблица по форме #}
    <th rowspan="2" class="rotated"><div>Всего</div></th>
    <th rowspan="2" class="rotated"><div>Нач. караулов</div></th>
    <th rowspan="2" class="rotated"><div>Ком. оделений</div></th>
    <th rowspan="2" class="rotated"><div>Шоферы</div></th>
    <th rowspan="2" class="rotated"><div>Ряд. состав</div></th>
    <th rowspan="2" class="rotated"><div>Диспетчеров</div></th>

    <th rowspan="2" class="rotated"><div>Отпуск</div></th>
    <th rowspan="2" class="rotated"><div>Учебный</div></th>
    <th rowspan="2" class="rotated"><div>Декрет</div></th>
    <th rowspan="2" class="rotated"><div>Больные</div></th>
    <th rowspan="2" class="rotated"><div>Командировка</div></th>
    <th rowspan="2" class="rotated"><div>Др. причины</div></th>

    <th rowspan="2" class="rotated"><div>Газодымозащитники</div></th>
    <th rowspan="2" class="rotated"><div>АСВ/ДАСК</div></th>

    <th rowspan="2" class="rotated"><div>Водяная</div></th>
    <th rowspan="2" class="rotated"><div>Грязевая</div></th>

    <th colspan="2">В боевом рассчете</th>
    <th colspan="2">В резерве</th>
    <th colspan="2">На ремонте</th>


    {# Вторая таблица по форме #}
    <th colspan="4">Рукавов</th>
    <th rowspan="2" class="rotated"><div>Лафетн. Ств. стац</div></th>
    <th rowspan="2" class="rotated"><div>Лафетн. Ств. переносной</div></th>
    <th rowspan="2" class="rotated"><div>ГПС-600</div></th>
    <th rowspan="2" class="rotated"><div>Пурга</div></th>
    <th rowspan="2" class="rotated"><div>Переносная радиосатнция</div></th>
    <th rowspan="2" class="rotated"><div>Электрофонари</div></th>
    <th rowspan="2" class="rotated"><div>Прожектора</div></th>
    <th rowspan="2" class="rotated"><div>ТОК</div></th>
    <th rowspan="2" class="rotated"><div>Л-1</div></th>
    <th rowspan="2" class="rotated"><div>Ранцевые аппараты</div></th>
    <th rowspan="2" class="rotated"><div>Лопаты</div></th>
    <th rowspan="2" class="rotated"><div>Хлопушки</div></th>
    <th rowspan="2" class="rotated"><div>Спасательные веревки</div></th>
    <th rowspan="2" class="rotated"><div>Пенообразователя</div></th>

    <th colspan="2">ПГ</th>
    <th rowspan="2">ПВ</th>

    <th rowspan="2">бензин</th>
    <th rowspan="2">дизель</th>

    <th rowspan="2">бензин</th>
    <th rowspan="2">дизель</th>
</tr>

<tr style="height: 185px;">
    {# Первая таблица по форме #}
    <th class="rotated"><div>Тип основ. пожарного а/м</div></th>
    <th class="rotated"><div>Марка спец. пожарного<br>а/м<br>Мотоциклы</div></th>

    <th class="rotated"><div>Тип основ. пожарного а/м</div></th>
    <th class="rotated"><div>Марка спец. пожарного а/м</div></th>

    <th class="rotated"><div>Тип основ. пожарного а/м<</div></th>
    <th class="rotated"><div>Марка спец. пожарного а/м</div></th>


    {# Вторая таблица по форме #}
    <th class="rotated"><div>125мм</div></th>
    <th class="rotated"><div>75мм</div></th>
    <th class="rotated"><div>77мм</div></th>
    <th class="rotated"><div>51мм</div></th>

    <th class="rotated"><div>уличный</div></th>
    <th class="rotated"><div>объектовый</div></th>
</tr>
</thead>
