@import "variables";
@import "fonts";
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/buefy/src/scss/buefy";
@import "common";
@import "printing";
@import '../sass/shake.scss';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.page-body {
  background-color: $white-bis;
}

.page-margin {
  margin: 1rem 2rem 0;
}

.form-buttons-bg {
  background-color: $white-bis;
  padding: 1rem;
  margin-top: 2rem;
}

.form-modal-border {
  background-color: $white-bis;
  border: 1px solid $grey-darker;
  border-radius: 4px;
  box-shadow: 0 2px 1px fade_out($grey-darker, .7);
}

.form-modal-header {
  padding: .5rem .7rem;
}

.form-modal-body {
  margin: 1rem 1.5rem;
}

.pagination-template {
  margin: 1rem 2rem;
  hr {
    margin: 2rem 1rem .5rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  }
  .field-label {
    margin-right: 0.25rem;
  }
  .pagination-link {
    &.is-current {
      font-weight: bold;
    }
  }
}

.print-button {
  box-shadow: rgba(100, 100, 150, .2) 0 2px 16px;
}

.snackbar.is-danger.is-top {
  background-color: #ff0000;
  color: #fff;
  min-height: 100px;
  min-width: 600px;
}

.snackbar.is-danger.is-top .button {
  background-color: #fff;
  color: #ff0000;
  padding: 0 30px;
  margin: 0 25px;
}

.snackbar.is-danger.is-top .text {
  font-size: 30px;
}

.snackbar.is-warning.is-top {
  background-color: #ffee00;
  color: #000000;
  min-height: 100px;
  min-width: 600px;
}

.snackbar.is-warning.is-top .button {
  background-color: #fff;
  color: #000000 !important;
  padding: 0 30px;
  margin: 0 25px;
}

.snackbar.is-info.is-top {
  background-color: #009eff;
  color: #000000;
  min-height: 100px;
  min-width: 600px;
}

.snackbar.is-info.is-top .button {
  background-color: #fff;
  color: #000000 !important;
  padding: 0 30px;
  margin: 0 25px;
}

.snackbar.is-warning.is-top .text {
  font-size: 30px;
}

.snackbar.is-warning.is-info .text {
  font-size: 30px;
}

.notices.is-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import "auth";

.button.is-basic, .button.is-info {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  &.is-main {
    text-transform: uppercase;
  }
}

table.table.is-striped thead th {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid $primary;
}

.tabs.buttab {
  border: none;
  ul {
    border: none;
    padding-bottom: 4px;
    border-radius: 0;
    li {
      border-radius: 0;
      a {
        border-radius: 0;
        color: $primary;
        text-transform: uppercase;
        padding: .25rem 1rem;
        border: none;
        margin: 0;
        &:hover {
          color: $cyan;
        }
      }
      &.is-active a {
        border-radius: 0;
        color: $cyan !important;
        border: 1px solid $cyan !important;
        box-shadow: 2px 2px 2px rgba(77,77,77,.3);
      }
    }
  }
}

.view-101-table-header th {
  border: 1px solid #bbbfc3;
  border-width: 1px !important;
  text-align: center;
  vertical-align: middle !important;
}


.rotated {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
}
.rotated div {
  -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
  -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
  margin-left: -10em;
  margin-right: -10em;
}

.form-inline {
  display: inline;
}

.flipped, .flipped .content
{
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.vue-report-form {
  min-height: 50rem;
}