@import "variables";

.auth {
  margin-top: 10vh;
  border-radius: 2px;
  box-shadow: 0 2px 32px rgba(22, 23, 25, 0.5);
}

.auth-navbar {
  border-bottom: 3px solid $primary;
}

body.minimal {
  background-color: #2A394F;
}

@import "common";
