@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

$primary: hsl(219, 46%, 50%);
$primary-invert: findColorInvert($primary);
$green: hsl(115, 72%, 35%);

@import "../../../node_modules/bulma/sass/utilities/derived-variables";

$family-primary: "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
