{% extends "layout/html" %}

{% block content %}
    <script>
        window.card112FormData = {
            streets: {{ streets | json_encode() | raw }},
            incidentTypes: {{ incidentTypes | json_encode() | raw }},
            serviceTypes: {{ serviceTypes | json_encode() | raw }},
            model: {
                street_id: ''
            }
        };
    </script>
    <div id="card112-form-block">
    </div>
{% endblock content %}