{% extends "layout/html" %}
{% block content %}
    <div class="section container">
        <div class="level">
    <div class="level-left">
        <h4 class="title"
            >РГП Казгидромет
        </h4>
    </div>
        <div class="level-right">
            <a href="{{ route('weather.create') }}" class="button is-main is-basic"
               style="">
                <i class="fas fa-plus"></i>&nbsp;Добавить
            </a>
        </div>
        </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>Дата и время</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td class="has-text-right">{{ loop.index }}</td>
                    <td>
                        {{ item.date | date('d.m.Y') }}
                    </td>
                    <td class="has-text-right">
                        <a href="{{ '/storage/weather/'~item.file }}" class="button is-info" target="_blank">
                            <i class="fas fa-file-upload"></i>&nbsp;
                            Вложенный файл
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock content %}
