{% extends "layout/html" %}
{% block content %}
    <div id="vue" class="container section">
        <report101-emergency :reasons="{{ reasons }}"></report101-emergency>
    </div>
{% endblock content %}
